.main {
  width: 100%;
  height: 500px;
  background-color: #eeeeee;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainLayout {
  width: 50%;
  padding: 1%;
}

h1 {
  margin: 0% 0% 1% 0%;
  font-family: 'Kanit-Black';
}

.mainContent {
  display: flex;
}

.mainLeft {
  height: 100%;
}

.mainRight {
  margin-left: 5%;
}

.mainLeftDown {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.aboutMe {
  margin-top: 5%;
  font-size: 8px;
}

.btleft {
  background-color: #fefcfe;
  width: 95px;
  border: none;
  height: 30px;
}

.btleft:hover {
  cursor: pointer;
}

.btleft:active {
  transform: scale(0.98);

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
