.options {
  margin-bottom: 2%;
}

h5 {
  font-family: 'Kanit-Italic';
  margin: 0;
}

.buttonZone {
  margin: 1%;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 120px;
  max-height: 40px;
  background-color: transparent;
  padding: 1% 7% 1% 7%;
  border-radius: 50px;
  margin: 0.5%;
  border: 2px solid #bed1ee;
  color: #bed1ee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSelected {
  width: 120px;
  max-height: 40px;
  background-color: transparent;
  padding: 1% 7% 1% 7%;
  border-radius: 50px;
  margin: 0.5%;

  color: #bed1ee;
  background-color: #23509c;
  background-color: #23509c;
  border: 2px solid #23509c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  color: #ffffff;
  background-color: #23509c;
  border: 2px solid #23509c;
}
