body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Kanit-Black';
  src: local('Kanit-Black'), url('./fonts/Kanit-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit-Italic';
  src: local('Kanit-Italic'), url('./fonts/Kanit-Italic.ttf') format('truetype');
}
